header {
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    padding: 25px;
    color: white;
    background-color: black;
    z-index: 1030;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}
