.item {
  display: inline-grid;
  text-align: center;
  background: white;
  margin: 16px;
  border-radius: 4px;
  .item-image {
    overflow: hidden;
    border-radius: 2px 2px 0 0;
    img {
      cursor: pointer;
      width: 100%;
      height: auto;
      transition: transform 300ms ease-in;
      transform: scale(1);
      @media (min-width: 991px) {
        min-height: 200px;
      }
    }
  }

  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}
